<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90131554824-cod22gqfuqp18rrttglkhnaultkrofcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90131554824-cod22gqfuqp18rrttglkhnaultkrofcp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90131554824-7ejq0qmdtr2rmhge0u44dmj2ms572la9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTbUxbCITIO1rGULRrS_SERwqws8U_YqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>90131554824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samozstudio.awrad</string>
	<key>PROJECT_ID</key>
	<string>awrad-ed86c</string>
	<key>STORAGE_BUCKET</key>
	<string>awrad-ed86c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90131554824:ios:3042ec971f5bcbb376e7bd</string>
	<key>DATABASE_URL</key>
	<string>https://awrad-ed86c.firebaseio.com</string>
</dict>
</plist>